# ignore all files in the build/ directory
tests/ 

# no .tptp files
*.tptp

# no Cache.kif andd UserAssertions files
*_Cache.kif
*_UserAssertions.kif

# specific files to ignore:
config.xml

# txt files in KB directory
/EBatchConfig.txt
/emptyConstituent.txt

# WordNet files
WordNetMappings/Makefile*
WordNetMappings/*.exc
WordNetMappings/data.*
WordNetMappings/index.*
WordNetMappings/cntlist*
WordNetMappings/frames.vrb
WordNetMappings/language.txt
WordNetMappings/lexnames
WordNetMappings/log.grind.3.0
WordNetMappings/sentidx.vrb
WordNetMappings/sents.vrb
WordNetMappings/verb.Framestext
