<configuration>
  <preference name="sumokbname" value="toplevel" />
  <preference name="testOutputDir"    value="/Users/ar/.sigmakee/KBs/tests" />
  <preference name="inferenceTestDir" value="/Users/ar/.sigmakee/KBs/tests" />
  <preference name="TPTPDisplay" value="no" />
  <preference name="vampire" value="/Users/ar/workspace/vampire/vampire" />
  <preference name="baseDir" value="/Users/ar/.sigmakee" />
  <preference name="hostname" value="localhost" />
  <preference name="logLevel" value="warning" />
  <preference name="systemsDir" value="/Users/ar/workspace/sigma/sigma" />
  <preference name="userBrowserLimit" value="25" />
  <preference name="adminBrowserLimit" value="200" />
  <preference name="https" value="false" />
  <preference name="SemRewrite" value="/Users/ar/workspace/sumo/WordNetMappings/SemRewrite.txt" />
  <preference name="eproverPath" value="/Users/workspace/E/EPROVER/eprover" />
  <preference name="nlpTools" value="yes" />
  <preference name="graphWidth" value="600" />
  <preference name="typePrefix" value="yes" />
  <preference name="graphDir" value="graph" />
  <preference name="loadLexicons" value="false" />
  <preference name="TPTP" value="yes" />
  <preference name="cache" value="no" />
  <preference name="editorCommand" value="" />
  <preference name="graphVizDir" value="/usr/bin" />
  <preference name="kbDir" value="/Users/ar/.sigmakee/KBs" />
  <preference name="loadCELT" value="no" />
  <preference name="celtdir" value="" />
  <preference name="lineNumberCommand" value="" />
  <preference name="prolog" value="" />
  <preference name="port" value="8080" />
  <preference name="tptpHomeDir" value="/Users/ar/workspace/sigma/sigma" />
  <preference name="showcached" value="no" />
  <preference name="leoExecutable" value="" />
  <preference name="holdsPrefix" value="no" />
  <preference name="logDir" value="/Users/ar/workspace/work/logs" />

  <kb name="toplevel">
    <constituent filename="Merge.kif" />
  </kb>
</configuration>

